body {
    background: linear-gradient(#111112, #0e0e0e);
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    background: linear-gradient(70deg, #111112, #191818, #111112);
    padding: 10px;
    border-bottom: 1px solid rgba(182, 156, 156, 0.19);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    filter: drop-shadow(0px 12px 10px rgba(0, 0, 0, 0.35));
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    max-width:60%;
}

.logo {
    height: 30px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    text-decoration: none;
    color: #989898;
    font-size: 18px;
    font-weight: bold;

}

.nav ul li a:hover {
    color: #ffffff;
}

.cta-button {
    background-color: rgba(255, 255, 255, 0.09);
    color: white;
    border: solid 1px #1f1e22;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    filter: drop-shadow(0px 12px 10px rgba(0, 0, 0, 0.35));
}

.flexbox-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;

}

.flexbox-item {
    flex: 0 1 auto;
    background: linear-gradient(70deg, #232325, #191818, #232325);
    border: 1px solid rgba(128, 117, 117, 0.19);
    border-radius: 20px;
    padding: 15px;
    color: #bababa;
    transition: 0.5s;
    width: 50vh;
    height: 25vh;
    filter: drop-shadow(0px 12px 10px rgba(0, 0, 0, 0.44));
}

.flexbox-item:hover {
    color: white;
    width: 52vh;
}

.flex-item:nth-child(1) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

}

.flex-item:nth-child(2) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.cta-button {
    border: 1px solid rgba(128, 117, 117, 0.19);
    border-radius: 10px;
    transition: 0.5s;
    filter: drop-shadow(0px 12px 10px rgba(255, 255, 255, 0.23));
}

.cta-button:hover {
    border: 1px solid rgba(170, 165, 165, 0.19);
}

.p {
    filter: drop-shadow(0px 12px 10px rgba(255, 255, 255, 0.23));
}

.footer {
    background: linear-gradient(70deg, #111112, #191818, #111112);
    padding: 10px;
    border-top: 1px solid rgba(182, 156, 156, 0.19);
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 100;
    filter: drop-shadow(0px -12px 10px rgba(0, 0, 0, 0.35));
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    max-width:60%;
    color: #736868;
}

.footer-content a {
    color: #d3cbcb;
}


